<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Mir Django Task</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.mir.de/en/" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>www.mir.de</a>
            </li>
            <li>
              <a href="https://github.com/Ali1995Askar/mir-media-django-task" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>see project code</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Articles</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{% url 'articles:articles-list' %}" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>List all
                articles</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Go to admin panel</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{% url 'admin:index' %}" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Admin panel</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact with us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="{% url 'contacts:send-email' %}" class="text-white"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Contact
                us</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="https://www.mir.de/en/">www.mir.de</a>
    </div>

  </footer>

</div>
